*{
    padding: 0;
    margin: 0 auto;
    box-sizing: border-box;
}
.body{
    overflow-x: hidden;
}
.container{
    margin-bottom: 12px;
}  


.post{
    margin-bottom: 24px;
}

img{
    vertical-align: revert;
}

.anuncio{
    cursor: pointer;
}

h2{
    text-align: center;
    padding-bottom: 14px;
    border-bottom: 4px solid gray;
    padding-top: 14px;
}
h4, h1{
    text-align: center;
    padding-top: 12px;
}
form{
    padding-left:100px;
    margin-left: 100px;
}

form h4{
    border-bottom: 4px solid gray;
    padding-bottom: 12px;
}
.form-check{
    padding-right: 48px;
    padding-top: 12px;
}
.form-check button, .form-check label{
    text-align: center;
}

.produtos{
    text-align: center;
}

.form{
    border:2px dotted rgb(153, 140, 140);
    padding-bottom: 14px;
    margin-bottom: 24px;
}

.d-flex button{
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: center;
}
#precp{
    position: relative;
}