*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}
header{
    display: flex;
    background-color: #740101;
    padding: 16px 0;
    color: #ffff;
    border-bottom: 16px solid #4e0000;
    justify-content: center;
    text-transform: uppercase;
}
header button{
    margin-left: 16px;
}

#limpar{
    background-color: red;
}

form{
    background-color: #ffffff;
    padding: 24px 0;
    text-align: center;
    display: none;
}

form h2{
    margin-bottom: 16px;
}

input,button{
    padding: 12px;
}

button{
    background-color: #009432;
    border:none;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffff;
}

#botao-remover{
    background-color: red;
}

ul{
    background-color: #ffffff;
}

ul li{
    font-size: 34px;
    font-weight: bold;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.tarefa li{
    list-style: disc inside;
}
